<%= form_tag import_users_path, multipart: true, class:"card import-users-card" do %>
  <h5 class="card-header">Import Users</h5>
  <div class="file-field input-field">
    <div class="btn">
      <span>Choose file</span>
      <%= file_field_tag :file %>
    </div>
    <input class="file-path validate" type="text"/>
  </div>
      <%= button_tag(type: "submit", class:"btn") do %>
        <i class="material-icons">file_upload</i>
      <% end %>
<% end %>

<table class="bordered highlight">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>City</th>
      <th>Graduation Date</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= "#{user.first_name} #{user.last_name}" %></td>
        <td><%= user.email %></td>
        <td><%= user.city %></td>
        <td><%= user.graduation_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>