<h5 class="lead-form-header">Create a New Lead</h5>
<%= form_with(model: @lead, html: { class: "col s12 m8 offset-m2 l8 offset-l2 lead-form" }) do |f| %>
  <div class="row">
    <div class="input-field col s4">
      <%= f.text_field :first_name, class:"validate", id:"first_name" %>
      <%= f.label :first_name %>
    </div>
    <div class="input-field col s4">
      <%= f.text_field :last_name, class:"validate", id:"last_name" %>
      <%= f.label :last_name %>
    </div>
    <div class="input-field col s4">
      <%= f.text_field :email, class:"validate", id:"email" %>
      <%= f.label :email %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4">
      <%= f.text_field :phone, class:"validate", id:"phone" %>
      <%= f.label :phone %>
    </div>
    <div class="input-field col s4">
      <%= f.text_field :company, class:"validate", id:"company" %>
      <%= f.label :company %>
    </div>
    <div class="input-field col s4">
      <%= f.text_field :linkedin_url, class:"validate", id:"linkedin_url" %>
      <%= f.label :linkedin_url %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s3">
      <%= f.check_box :email_sent, class:"validate", id:"email_sent" %>
      <%= f.label :email_sent, "Email Sent?", for:"email_sent" %>
    </div>
    <div class="input-field col s3">
      <%= f.check_box :meeting_set, class:"validate", id:"meeting_set" %>
      <%= f.label :meeting_set, "Meeting Set?", for:"meeting_set" %>
    </div>
    <div class="input-field col s3">
      <%= f.check_box :interview_set, class:"validate", id:"interview_set" %>
      <%= f.label :interview_set, "Interview Set?", for:"interview_set" %>
    </div>
    <div class="input-field col s3">
      <%= f.check_box :job_offer, class:"validate", id:"job_offer" %>
      <%= f.label :job_offer, "Job offer?", for:"job_offer" %>
    </div>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="row">
    <div class="input-field col s3">
      <%= f.submit "Create Lead", class:"btn" %>
    </div>
  </div>
<% end %>