<!DOCTYPE html>
<html>
  <head>
    <title>JobHunter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper valign-wrapper">
          <a href="#" class="brand-logo">Job Hunter</a>
        </div>
      </nav>
    </header>
    <ul id="slide-out" class="side-nav fixed">
      <li>
        <div class="userView">
          <div class="background">
            <%= image_tag 'actualize-logo.png', class:"logo-image"%>
          </div>
        </div>
        <li><div class="divider"></div></li>
      </li>
      <li><%= link_to new_lead_path do %>
        <i class="material-icons">person_add</i><span>Create Lead</span>
        <% end %>
      </li>
      <li><%= link_to leads_path do %>
        <i class="material-icons">people</i><span>All Leads</span>
        <% end %>
      </li>
      <li><%= link_to '/users/edit' do %>
        <i class="material-icons">mood</i><span>Edit Profile</span>
        <% end %>
      </li>
      <% if current_user && current_user.admin? %>
      <li>
        <%= link_to users_path do %>
          <i class="material-icons">school</i><span>Graduates</span>
        <% end %>
      </li>
        <li>
          <%= link_to interviews_path do %>
            <i class="material-icons">code</i><span>Interviews</span>
          <% end %>
        </li>
        <li>
          <%= link_to job_offers_path do %>
            <i class="material-icons">attach_money</i><span>Job Offers</span>
          <% end %>
        </li>
        <li>
          <%= form_tag import_users_path, multipart: true, class:"user-upload-form" do %>
            <h6>Upload Grads</h6>
            <div class="file-field input-field">
              <div class="btn">
                <span id="choose-file-btn">Choose File</span>
                <%= file_field_tag :file %>
              </div>
              <input class="file-path validate" type="text"/>
            </div>
            <%= button_tag(type: "submit", class:"btn-floating") do %>
              <i class="material-icons">file_upload</i>
            <% end %>
          <% end %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li>
          <%= link_to(destroy_user_session_path, :method => :delete) do %>
            <i class="material-icons">vpn_key</i><span>Log Out</span>
          <% end %>
        </li>
      <% end %>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    <main>
        <% if notice %>
          <div id="notice-wrapper" class="valign-wrapper">
            <h5 class="notice center-align"><%= notice %></h5>
          </div>
        <% end %>
        <% if alert %>
          <div id="alert-wrapper" class="valign-wrapper">
            <h5 class="alert center-align"><%= alert %></h5>
          </div>
        <% end %>
      <div class="row">
        <div class="col s12 m12 l12">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
<script type="text/javascript">
  $(".button-collapse").sideNav();
</script>
<script>
$('document').ready(function() {
  setTimeout(function() {
    $('#notice-wrapper').slideUp();
  }, 3000);
  setTimeout(function() {
    $('#alert-wrapper').slideUp();
  }, 3000);
});
</script>