<!DOCTYPE html>
<html>
  <head>
    <title>JobHunter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <div class="row">
      <header>
      <div class="col s12 m4 l2">
          <ul id="slide-out" class="side-nav fixed">
            <li>
              <div class="userView">
                <div class="background">
                  <%= image_tag 'actualize-logo.png'%>
                </div>
              </div>
              <li><div class="divider"></div></li>
            </li>
            <li><%= link_to new_lead_path do %>
                  <i class="material-icons">person_add</i><span>Create Lead</span>
                <% end %>
            </li>
            <li><%= link_to leads_path do %>
                  <i class="material-icons">people</i><span>All Leads</span>
                <% end %>
            </li>
            <% if user_signed_in? %>
              <li><%= link_to(destroy_user_session_path, :method => :delete) do %>
                    <i class="material-icons">vpn_key</i><span>Log Out</span>
                  <% end %>
              </li>
            <% end %>
          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </header>
      <main>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Job Hunter</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">
              <% if current_user.admin? %>
                <p>admin</p>
              <% else %>
                <p>user</p>
                <%= current_user.id %>
              <% end %></a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <div class="col s12 m8 l10">
          <%= yield %>
        </div>
      </div>
    </main>
  </div>
  </body>
</html>
<script type="text/javascript">
  $(".button-collapse").sideNav();
</script>
